<div class="main-content">
    <div class="text-center">
        <a routerLink="/login">
            <img src="assets/images/logo.png" alt="GoEshop" class="img-responsive">
        </a>
        
        <alerts></alerts>
        <div class="login-container">
            <div class="logout-form">
                <h2>Thank You for shopping with us !</h2>

                
                <div class="login-wrap">
                    <img src="assets/images/smileemoji.png" alt="GoEshop" class="img-responsive emoji">
                </div>
                

                <div class="login-wrap">
                    <a class="sign-out" routerLink="/login">Want to buy again? Sign in Now !</a>
                </div>

            </div>
        </div>
    </div>
</div>