<div class="form-header">

    <input #keyword class="au-input au-input-xl" type="text" placeholder="Search for products ..."
        (keyup.enter)="searchProducts(keyword.value)"/>

    <button class="au-btn-submit" (click)="searchProducts(keyword.value)">
        Search
    </button>
    <div *ngIf="true">
        <button class="au-btn-submit" *ngIf="true" (click)="addProduct()">
            Add Product
        </button>
    </div>
    <div *ngIf="true">
        <button class="au-btn-submit" *ngIf="true" (click)="addCategory()">
            Add Category
        </button>
    </div>
</div>