<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- loop over products-->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <!-- <div class="img-wrap">
                        <a routerLink="/products" class="btn-overlay">
                            <img [(src)]="'data:image/jpeg;base64,' + tempProduct.pic" class="img-responsive">
                        </a>
                        <a routerLink="/products">
                            {{tempProduct.name}}
                        </a>
                        <div class="price">{{tempProduct.unitPrice | currency: 'USD'}}</div>
                        <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div> -->
                    <figure class="card card-product">
                        <div class="img-wrap">
                            <a routerLink="/products" class="btn-overlay">
                                <img [(src)]="'data:image/jpeg;base64,' + tempProduct.pic"
                                 style="height: 50%; width: 70%; display: block; margin-left: auto; margin-right: auto; margin-top: 15px;">
                            </a>
                        </div>

                        <figcaption class="info-wrap">
                            <h5 class="title text-dots"><a routerLink="/products/{{tempProduct.id}}" style="color: #FF8C00; font-weight: bold;">{{tempProduct.name}}</a></h5>
                            <div class="action-wrap">
                                <a href="#" class="btn btn-primary btn-sm float-right" style="background-color: #FF8C00; border-color: #FF8C00; font-weight: bold;">
                                     Add to cart 
                                </a>
                                <div class="price-wrap h5">
                                    <span class="price-new" style="font-weight: bold;">{{tempProduct.unitPrice | currency: 'USD'}}</span>
                                    <div class="price-wrap h5">
                                        <h6 class="title text-dots" [ngStyle]="{'color' : tempProduct.unitsInStock > 5? 'darkgreen' : 'red'}" style="font-weight: bold;">
                                            {{tempProduct.unitsInStock}} pcs left
                                        </h6>
                                    </div>
                                </div> <!-- price-wrap.// -->
                            </div> <!-- action-wrap -->
                        </figcaption>
                    </figure>
                </div>
                <!-- If products not found -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found!
                </div>
            </div>
        </div>
    </div>
</div>